<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entity_attribute_mappings</key>
	<dict>
		<key>Department</key>
		<dict>
			<key>id</key>
			<string>entityId</string>
			<key>name</key>
			<string>title</string>
		</dict>
		<key>Empoyee</key>
		<dict>
			<key>id</key>
			<string>entityId</string>
			<key>first_name</key>
			<string>firstName</string>
			<key>last_name</key>
			<string>lastName</string>
			<key>title</key>
			<string>title</string>
			<key>secondary_department</key>
			<string>secondaryDepartmentId</string>
		</dict>
	</dict>
	<key>primary_key_mappings</key>
	<dict>
		<key>Department</key>
		<array>
			<string>entityId</string>
		</array>
		<key>Empoyee</key>
		<array>
			<string>entityId</string>
		</array>
	</dict>
	<key>relationship_mappings</key>
	<dict>
		<key>Employee</key>
		<dict>
			<key>department</key>
			<dict>
				<key>target</key>
				<string>Department</string>
				<key>key_path</key>
				<string>frontCover</string>
			</dict>
			<key>secondary_department</key>
			<dict>
				<key>target</key>
				<string>Department</string>
				<key>key_path</key>
				<string>secondaryDepartment</string>
				<key>fk_mapping</key>
				<dict>
					<key>secondaryDepartmentId</key>
					<string>entityId</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>path_mappings</key>
	<array>
		<dict>
			<key>uri</key>
			<string>/departments</string>
			<key>key_path</key>
			<string>departments</string>
			<key>matchers</key>
			<array>
				<dict>
					<key>key_path</key>
					<string>type</string>
					<key>expected_value</key>
					<string>department</string>
					<key>entity_name</key>
					<string>Department</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>uri</key>
			<string>/employees</string>
			<key>key_path</key>
			<string>employees</string>
			<key>matchers</key>
			<array>
				<dict>
					<key>entity_name</key>
					<string>Employee</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>request_mappings</key>
	<array>
		<dict>
			<key>uri</key>
			<string>/employee/create</string>
			<key>root_keypath</key>
			<string>employee</string>
			<key>class_name</key>
			<string>Employee</string>
			<key>attribute_mappings</key>
			<dict>
				<key>first_name</key>
				<string>firstName</string>
				<key>last_name</key>
				<string>lastName</string>
				<key>title</key>
				<string>title</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
